*{
    margin: 0;
    padding: 0;
}

body{
    background: #171717;
}

h1{
    color: #ffffff;
}

header{
    height: 400px;
    background: url("./assets/BG-header.png") #111111;
    background-size: cover;
    background-position: center;
    display: flex;
}


#perfil{
    width: 400px;
    margin: 0 auto;
}

#imgPerfil{
    width: 200px;
    margin: 20px auto;
    display: flex;
}

#perfil h1{
    color: #ffffff;
    text-align: center;
}

.container{
    width: 80%;
    margin: 20px auto;
}

#about{
    display: grid;
    grid-template-areas: "imgSobre aboutText aboutText";
}

#imgSobre{
    width: 300px;
    grid-area: "imgSobre";
    grid-column: imgSobre;
    grid-row: imgSobre;
}

#aboutText{
    text-align: justify;
    grid-area: "aboutText";
    grid-column: aboutText;
    grid-row: aboutText;
    color: aliceblue;
    padding: 20px;
}

#aboutText h1{
  font-size: 3rem;
}

#aboutText p{
    font-size: 1.5rem;
  }

#aboutText h2{
    margin: 10px 0;
  }
  

#tec{
    text-decoration: none;
    list-style: none;
    display: flex;
}

#service{
    margin-top: 5rem;

}

#service ul{
    width: 95%;
    margin: 20px auto;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#service li{
    border: 3px solid #444F8B;
    padding: 40px 50px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1.5rem;
}

footer{
    background: #111111;
    height: 20px;
    text-align: center;
    color: #ffffff;
}

::-webkit-scrollbar {
    background-color: #00000000;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #504e4e; 
    border-radius: 5px; 
    size: 20px;
  }