*{
    margin: 0;
    padding: 0;
}

body{
    background: #171717;

}

header{
    height: 400px;
    background: #111111;
    display: flex;
}

#perfil{
    width: 400px;
    margin: 0 auto;
}

#imgPerfil{
    width: 200px;
    margin: 20px auto;
    display: flex;
}

#perfil h1{
    color: #ffffff;
    text-align: center;
}

#about{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-areas: "imgSobre aboutText aboutText";
}

#imgSobre{
    width: 300px;
    grid-area: "imgSobre";
    grid-column: imgSobre;
    grid-row: imgSobre;
}

#aboutText{
    text-align: justify;
    grid-area: "aboutText";
    grid-column: aboutText;
    grid-row: aboutText;
    color: aliceblue;
    padding: 20px;
}

#aboutText h1{
  font-size: 3rem;
}

#aboutText p{
    font-size: 1.5rem;
  }

#aboutText h2{
    margin: 10px 0;
  }
  

#tec{
    text-decoration: none;
    list-style: none;
    display: flex;
}




footer{
    background: #111111;
    height: 20px;
    text-align: center;
    color: #ffffff;
}